@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(pexels-andre-saddi-13985154.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 40px;
}

header.header {
  text-align: center;
  padding: 10px;
}

h2 {
  font-family: "Nunito", sans-serif;
  margin: 30px 0px 30px 150px;
  font-size: 25px;
  color: white;
}

form.conteudo {
  background-color: rgba(250, 235, 215, 0.453);
  padding: 20px;
  height: 100vh;
  width: 40%;
  text-align: justify;
  margin-left: 2em;
  margin-bottom: 20px;
  border-radius: 20px;
}

label {
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.727);
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

input {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

input:hover {
  background-color: rgba(29, 95, 29, 0.651);
  transition: 0.5s;
}

select#massType {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

select#massType:hover {
  background-color: rgba(29, 95, 29, 0.651);
  transition: 0.5s;
}

select#borda {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

select#borda:hover {
  background-color: rgba(29, 95, 29, 0.651);
  transition: 0.5s;
}

div.observations {
  margin-top: 30px;
}

textarea {
  background-color: rgba(250, 235, 215, 0.453);
  border: 1px solid rgba(0, 0, 0, 0.755);
  border-radius: 10px;
  width: 70%;
}

button {
  background-color: rgb(135, 50, 50);
  margin-top: 10px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: red;
  transition: 0.5s;
}

footer {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: white;
}
